@inject UserManager<AppUser> UserManager
@inject SignInManager<AppUser> SignInManager

<!DOCTYPE html>
<html lang="ru">

@*
    В голове проекта должны находиться разнообразные настройки для работы со страницей.
    Получается, что логотип проекта фактически будет находиться в навигационной панели и олицетворяет собой
    кнопку "Домой". 
*@
<head>
    @* Сюда можно добавить шрифты от Google Fonts. *@
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title - TryHardForum</title>
    
    <!-- Подключение стилей -->
    <environment include="Development">
        <link rel="stylesheet" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" asp-append-version="true" />
    </environment>
</head>
<body>
    @* слепить хорошую горизонтальную навигационную панель рядом с логотипом проекта *@
    <nav>
        <div>
            <div>
                <a asp-controller="Home" asp-action="Index">TryHardForum</a>
            </div>
            @* Выпадающее меню навигационной панели идёт далее *@
            <div>
                <ul>
                    <li><a asp-controller="Forum" asp-action="Index">Все форумы</a></li>
                    <li role="separator" class="divider">Свежее</li>
                    <li>Наиболее популярное</li>
                    <!-- 
                    Если пользователь вошёл в УЗ, то предоставляются инструменты по созданию тем
                    -->
                    @if(SignInManager.IsSignedIn(User))
                    {
                        <li>Создать новую тему</li>
                        <!-- 
                        А если пользователь является Админом, то ему открываются дополнительные возможности
                        Всё это в запаковано в выпадающий список. Пока что хз как это сделать.
                        -->
                        @if (User.IsInRole("Admin"))
                        {
                            <li>
                                <ul>
                                    <li><a asp-controller="Forum" asp-action="Create">Создать Форум</a></li>
                                    <li><a asp-controller="Profile" asp-action="Index">Управление пользователями</a></li>
                                </ul>
                            </li>
                        }
                    }
                </ul>
                @* Если пользователь не вошёл в УЗ, ему будет предложено войти или зарегистрироваться *@
                @if(!SignInManager.IsSignedIn(User))
                {
                    <ul>
                        <li><a asp-controller="Account" asp-action="Login">Войти</a></li>
                        <li><a asp-controller="Account" asp-action="Register">Зарегистрироваться</a></li>
                    </ul>
                }
                @* Если пользователь вошёл, ему будет предложено выйти из УЗ *@
                @if(SignInManager.IsSignedIn(User))
                {
                    <form asp-controller="Account" asp-action="Logout" method="post">
                        <ul>
                            <li>
                                <a asp-controller="Manage"
                                   asp-action="Index"
                                   title="Manage"
                                   asp-route-id="@UserManager.GetUserId(User)">
                                    @UserManager.GetUserName(User)
                                </a>
                            </li>
                            <li>
                                <button type="submit">
                                    Выйти
                                </button>
                            </li>
                        </ul>
                    </form>
                }
            </div> @* Окончание навигационной панели *@
        </div>
    </nav>
    @RenderBody()
    <footer>
        <ul>
            <li><a asp-controller="Home" asp-action="About">О проекте</a></li>
            <li><a asp-controller="Home" asp-action="Contact">Контакты</a></li>
        </ul>
    </footer>
    <environment include="Development">
        @* Расположить ссылки на JS скрипты для дев окружения *@
    </environment>
    <environment exclude="Development">
        @*
            Расположить ссылки на JS скрипты, не касающиеся дев. окружения.
            Также тут располагаются фоллбэки, ссылки на CDN и т.д.
        *@
    </environment>
    @* Подключение необязательных скриптов. *@
    @RenderSection("Scripts", required: false)
</body>
</html>