<!--
Отображается список постов. Посты по своей сути являются частичными представлениями,
содержащие в себе частичные представления списка ответов на сообщения.
-->

@model TopicIndexModel

<div>
    <div>
        <div>
            Обзор тем форума
        </div>
        <div>
            Заголовок форума тут (если понадобится)
        </div>
        <div>
            Описание форума тут (если понадобится)
        </div>
    </div>
    <div>
        <tbody>
        @foreach (var topic in Model.TopicList)
        {
            <tr>
                <td>
                    <div>
                        @topic.Title
                    </div>
                </td>
                <td>
                    <div>
                        @topic.Description
                    </div>
                </td>
                <td>
                    @topic.Created
                </td>
                <td>
                    @topic.AuthorName
                </td>
                <td>
                    @topic.LatestPost
                </td>
            </tr>
        }
        </tbody>
    </div>
    <!-- 
    Подключение частичного представления (фактически блока с перечислением всех постов в теме).
    Тут будет отображаться список постов темы в порядке убывания (?).
    Также будет подключено ещё одно частичное представление с ответами на каждый пост (если они имеются).
    -->
</div>
<!-- Подключение частичного представления для создания поста -->